.container {
    display: flex;
    margin: 3rem;
    border: solid rgb(65, 47, 27);
    border-radius: 4px;
}

.data{
    margin-top: 4rem;
    width: 24%;
}

.img {
    margin-bottom: 3rem;
    width: 60%;
}

