.start {
  display: flex;
  flex-direction: column;
}

h1{
  color: rgb(65, 47, 27);
}

.button {
    margin: auto;
    width: 6rem;
    height: 3rem;
    border: 0;
    background-color: rgb(167, 122, 71);
    color: white;
    border-radius: 0.2rem;
    font-size: 1rem;
  }
  
  .button:hover {
    background-color:rgb(117, 86, 50); ;
  }

  .img {
    width: 30%;
  }