.container{
  display: flex;
}

.dogs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

.select {
  margin-left: 1rem;
 margin-top: 3rem;
}


.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid  rgb(68, 52, 34);
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background-color: rgb(167, 122, 71);
}

.paginationActive a {
  color: white;
  background-color: rgb(167, 122, 71);
}


@media (max-width: 673px) {
  .container{
    flex-direction: column;
  }
}