.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.cnt {
    padding-top: 10px;
}
.formContainer {
    display:flex;
    flex-direction: row;
    align-content: center;
    width: 80%;
}

.search {
    display: flex;
    width: 70%;
    align-content: flex-end;
    margin: auto;
}

input {
display: block;
width: 50%;
height: 2rem;
font-size: 1rem;
font-weight: 300;
color: #212529;
background-color: #fff;
border: 1px solid #ced4da;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
border-radius: 0.25rem;
margin-left: 0.5rem;
margin-right: 0.5rem;
transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}



.button {
    margin-top: 0.1rem;
    margin-left: 0.5rem;
    height: 2rem;
    border: 0;
    background-color: rgb(167, 122, 71);
    color: white;
    border-radius: 0.2rem;
    align-self: center;
}

.button:hover {
    background-color:rgb(117, 86, 50); ;
  }

.label {
    padding-right: 0.5rem;
    font-weight: 500;
}