.navbar {
    height: 56px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgb(167, 122, 71);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.navbarnav {
    height: 100%;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 100%;
}

.listitem {
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
}

.listitema {
    color: white;
    font-weight: 500;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
    text-decoration: none;
    
}

.listitem a:hover,
.listitem a.active {
    background-color: rgb(117, 86, 50);
    color: white;
    height: 36%;
    margin-top: 0;
}